@media (min-width: 576px){
    .card-group {
        flex-flow: row wrap;
        height: 600px;
    }
}
@media (min-width: 576px){
    .card-group {
        flex-flow: row wrap;
    }
}

.card-group {
    display: flex;
    flex-direction: column;
    height: auto;
}

.card-group .card-login-form {
    border: 0;
    padding: 20px;
    border-radius: 20px;
}
@media (min-width: 576px){
    .card-group>.card {
        flex: 1 0;
        margin-bottom: 0;
    }
}
.card-group>.card {
    margin-bottom: 15px;
}
.card {
    margin-bottom: 1.5rem;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #c8ced3;
    border-radius: .25rem;
}
.card-group .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
    padding: 0px;
}